#about-section {
    margin-bottom: 20px;
}

.about-section__about {
    @media screen and (min-width: $lg-breakpoint) {
        padding: 100px 0;
    }
}

.are-you-hiring {
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    div {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid $gray-600;
    }
}

.about-img {
    width: 50%;
    margin: 10px 10px 0 0;
    position: relative;
    float: left;
    @media screen and (min-width: $xs-breakpoint) {
        width: 100%;
        margin: 0;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        @media screen and (min-width: $sm-breakpoint) {
            border-radius: 50%;
        }
    }
}

.about-contact {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    float: left;
    h6 {
        border-bottom: 1px solid #707070;
    }
    &-block {
        //    margin-right: 30px;
        font-size: 0.9rem;
        white-space: nowrap;
        .about-block__icon {
            width: 2.0rem;
        }
        &--mobile {
            @media screen and (min-width: $sm-breakpoint) {
                display: block;
            }
            @media screen and (min-width: $lg-breakpoint) {
                display: none;
            }
        }
        &--desktop {
            @media screen and (min-width: $sm-breakpoint) {
                display: none;
            }
            @media screen and (min-width: $lg-breakpoint) {
                display: block;
            }
        }
        @media screen and (min-width: $md-breakpoint) {
            padding: 2px 0;
            font-size: 0.9rem;
        }
        @media screen and (min-width: $lg-breakpoint) {
            padding: 2px 0;
            font-size: 0.9rem;
        }
        span {
            padding: 3px;
            margin-left: 5px;
        }
    }
}

.resume-url {
    margin-top: 5vh;
}

.about-xs {
    padding: 15px;
}