.home-page {
    display: flex;
    flex-direction: column;
}

.home-section-title {
    padding-top: 20px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.4rem;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-600;
    @media screen and (min-width: $xs-breakpoint) {
        font-size: 4rem;
    }
}