.Portfolio-Item {
    width: 100%;
    padding-bottom: 40px;
}

.Portfolio-Item__Bottom-Back-Btn {
    display: none;
    @media screen and (min-width: $sm-breakpoint) {
        display: block;
    }
}

.Portfolio-Item__Floating-Back-Btn {
    display: block;
    position: fixed;
    z-index: 500;
    right: 10px;
    bottom: 20px;
    a {
        background: #000;
    }
    @media screen and (min-width: $sm-breakpoint) {
        display: none;
    }
}

.Portfolio-Item__Title {
    display: none;
    @media screen and (min-width: $md-breakpoint) {
        display: block;
    }
    @media screen and (min-width: $lg-breakpoint) {
        font-size: 3.0rem
    }
}

.Portfolio-Item__Subtitle {
    border-bottom: 1px solid $gray-600;
    padding-bottom: 10px;
    width: 100%;
    @media screen and (max-width: $xs-breakpoint) {
        font-size: 1.5rem;
    }
}

.Portfolio-Item__Title,
.Portfolio-Item__Subtitle {
    font-family: 'Didact Gothic', sans-serif;
}

.Portfolio-Item__Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @media screen and (min-width: $xs-breakpoint) {
        margin-top: 40px;
        padding: 0 3%;
    }
}

.Portfolio-Item__Head {
    width: 100%;
    display: flex;
    position: relative;
    padding: 5px 0;
    flex-direction: column;
    border-bottom: 1px solid $gray-400;
    @media screen and (min-width: $xs-breakpoint) {
        flex-direction: row;
        border-bottom: 2px solid $gray-400;
    }
}

.Portfolio-Item__Logo {
    width: 100%;
    position: relative;
    float: left;
    @media screen and (min-width: $xs-breakpoint) {
        width: 33%;
    }
    img {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
}

.Portfolio-Item__Logo--container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Portfolio-Item__Logo--img {
    width: 100%;
    position: absolute;
    height: 0;
    top: 0;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    margin-right: 10%;
}

.Portfolio-Item__Summary {
    padding: 3% 0 0 0;
    width: 100%;
    @media screen and (min-width: $xs-breakpoint) {
        padding: 3% 0px 0 3%;
        width: 75%;
    }
    h6 {
        @media screen and (min-width: $md-breakpoint) {
            font-size: 0.875rem;
        }
    }
}

.Potfolio-Item__Content {
    width: 100%;
}

.Portfolio-Item__Subdetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    .Portfolio-Item__Subdetail {
        width: 100%;
        display: flex;
        .Subdetail_left {
            width: 25%;
            text-align: right;
            padding: 3px;
            display: none;
            @media screen and (min-width: $md-breakpoint) {
                display: block;
            }
        }
        .Subdetail_right {
            width: 100%;
            text-align: left;
            padding: 3px;
            font-size: 0.8rem;
            @media screen and (min-width: $md-breakpoint) {
                width: 75%;
                font-size: inherit;
            }
        }
    }
}

.Portfolio-Item__Portcats {
    padding: 10px 0;
    font-size: 0.7rem;
    @media screen and (min-width: $xs-breakpoint) {
        text-align: right;
        font-size: inherit;
    }
}

.section-content {
    padding: 20px 0;
    @media screen and (min-width: $xs-breakpoint) {
        font-size: inherit;
    }
}

.Portfolio-Item__Gallery {
    flex-direction: column;
    display: flex;
    .slick-slide {
        padding: 30px;
    }
}

.Portfolio-Item__Gallery-Imgs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.Portfolio-Item__Gallery-Img {
    width: 100%;
    padding: 1%;
    border: 1px solid $gray-400;
    margin: 1%;
    border-radius: 2px;
    cursor: pointer;
    @media screen and (min-width: $md-breakpoint) {
        width: 31%;
    }
    .img-peloader {
        width: 100%;
        height: 0;
        padding-top: 75%;
        position: relative;
    }
}

.Portfolio-Item__img-preloader {
    background: url('/images/spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    padding-top: 64%;
    // @media screen and (min-width: $sm-breakpoint) {
    //     padding-top: 150%;
    // }
}

.Gallery-Tile__info--info-show {
    opacity: 1.0;
    transition: all 0.5s ease-in;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.Gallery-Tile__info {
    opacity: 0;
}

.Portfolio-Item__Gallery--tiles {
    opacity: 1.0;
    transition: opacity 750ms ease-in;
}

.Portfolio-Item__Gallery--slideshow {
    opacity: 0.0;
    transition: opacity 750ms ease-in;
    position: relative;
    width: 100%;
}

.Portfolio-Item__Gallery--slideshow-inner {
    width: 95%;
    position: absolute;
    margin-left: 2.5%;
}

.content--active {
    opacity: 1.0;
}

.content--inactive {
    opacity: 0;
}